
/* 1. Select `body`
- add `background-color: #f2f2f2;`
- add `padding: 0 2em;` */
body{
    background-color: #f2f2f2;
    padding: 0 2em;

}
/* 2. Select `h1`, `h2` and `h3`
  - add `font-family: sans-serif;`
  - add `margin-bottom: 0;` */
h1,h2,h3{
    font-family: sans-serif;
    margin-bottom: 0;
}
/* 
3. Select all `p` tags
  - add `margin: .5em 0;` */
  p{
    margin: .5em 0;
  }
  /* 4. Use an adjacent selector to get the `p` tags immediately beside the `h1` and `h3`tags
  - add `color: purple;`
  - add `font-family: sans-serif;`
  - add `font-weight: bold;` */
  h1+p,h3+p{
    color: purple;
    font-family: sans-serif;
    font-weight: bold;
  }
  